<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.peekvpn.service</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/peekvpn/PeekVPN.Service</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/opt/peekvpn</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/peekvpn/service.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/peekvpn/service.error.log</string>
  </dict>
</plist>
